extends ../layouts/layout

block content
    div.row.g-0.mt-2
        div.col-12
            form(method="post" action=`/admin/operators/update/${ID}`)
                div.mb-3
                    label.form-label(for="name") Name
                    input.form-control#name(type="text" name="name" value=operator.name)

                button.btn.btn-success(type="submit")
                    i.bi.bi-pencil
                    |  Update