extends ../layouts/layout

block content
    div.row.g-0.mt-2
        div.col-12
            form(method="post" action="/admin/operators/create")
                div.mb-3
                    label.form-label(for="name") Name
                    input.form-control#name(type="text" name="name")
                div.mb-3
                    label.form-label(for="commission") Commission (in %)
                    input.form-control#commission(type="number" name="commission" step=0.01)
                div.mb-3
                    label.form-label(for="color") Color
                    input.form-control.form-control-color#color(type="color" name="color" value="#000000" title="Choose a color to match the partner")

                button.btn.btn-success(type="submit")
                    i.bi.bi-plus-lg
                    |  Create
