extends ../layouts/layout

block content
    include operator_table

    div.my-3
        a.btn.btn-success(href="/admin/operators/create")
            i.bi.bi-plus-lg
            |  Create

    +operator_table(operators)