extends ../layouts/layout

block content
	div.row.g-0.mt-2
		div.col-12
			form(method="post" action="/admin/appusers/create")
				div.mb-3
					label.form-label(for="email") Email
					input.form-control#email(type="email" name="email")
				div.mb-3
					label.form-label(for="name") Name
					input.form-control#name(type="text" name="name")
				div.mb-3
					label.form-label(for="birthday") Birthday
					input.form-control#birthday(type="date" name="birthday")
				div.mb-3
					label.form-label(for="user-type") User Type
					select.form-select#user-type(name="userType")
						option(value="1") Admin
						option(value="2") Driver
						option(value="3") Hotel
				div.d-none#operator-div
					label.form-label(for="operator") Operator
					select.form-select#operator(name="operator")
						option(value="null") No operator
							each operator in operators
								option(value=operator.ID)= operator.name
				div.mb-3
					label.form-label(for="color") Color
					input.form-control.form-control-color#color(type="color" name="color" title="Choose a color to match the driver")
				div.mb-3
					label.form-label(for="commission") Commission (in %)
					input.form-control#commission(type="number" name="commission" step=0.01)
				div.mb-3
					label.form-label(for="password") Password
					input.form-control#password(type="password" name="password")
				div.mb-3
					label.form-label(for="confirm-password") Confirm Password
					input.form-control#confirm-password(type="password" name="confirmPassword")

				button.btn.btn-success(type="submit")
					i.bi.bi-plus-lg
					|  Create

block scripts
	script.
		document.getElementById("user-type").addEventListener("change", event => {
			if (event.target.value === "3") {
				document.getElementById("operator-div").classList.remove("d-none");
				document.getElementById("operator-div").classList.add("mb-3");
			} else {
				document.getElementById("operator").value = "null";
				document.getElementById("operator-div").classList.add("d-none");
				document.getElementById("operator-div").classList.remove("mb-3");
			}
		});
