extends ../layouts/layout

block content
    div.row.g-0.mt-2
        div.col-12
            form(method="post" action=`/admin/appusers/changePassword/${ID}`)
                div.mb-3
                    label.form-label(for="password") Password
                    input.form-control#password(type="password" name="password")
                div.mb-3
                    label.form-label(for="confirm-password") Confirm Password
                    input.form-control#confirm-password(type="password" name="confirmPassword")

                button.btn.btn-success(type="submit")
                    i.bi.bi-pencil
                    |  Change Password