nav.navbar.navbar-expand-lg.bg-light
    div.container
        a.navbar-brand(href="/admin") Transfer Admin Panel
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse.justify-content-between#navbarNav
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="/admin/transfers") Transfers
                li.nav-item
                    a.nav-link(href="/admin/vehicles") Vehicles
                li.nav-item
                    a.nav-link(href="/admin/appusers") Users
                li.nav-item
                    a.nav-link(href="/admin/operators") Operators
            if userID === undefined || userID === null
                a.nav-link(href="/admin/login") Login
            else
                div.d-flex
                    a.nav-link.me-4(href="#")= username
                    a.nav-link(href="/admin/logout") Logout