extends ../includes/layout

block content
    include vehicle_table

    div.my-3
        a.btn.btn-success(href="/admin/vehicles/create")
            i.bi.bi-plus-lg
            |  Create

    +vehicle_table(vehicles)